.footer
  padding 8px
  text-align center
  background-image linear-gradient(to right,#7400B8,#5E60CE,#4EA8DE,#80FFDB)
  color #fff
  font-weight 400
  box-sizing border-box
  width: 100%

.footer__text
  font-size 16px
  color #fff

.footer__link
  color #fff
  font-size 16px
  text-decoration-line underline
  transition opacity .4s

.footer__link:hover
  opacity .5
  cursor pointer