.header
  flex-shrink 0
  height 400px
  padding 16px
  text-align center
  display flex
  flex-direction column
  align-items center
  justify-content center
  background-image linear-gradient(to right,#7400B8,#5E60CE,#4EA8DE,#80FFDB)

.header--small
  height 30px

.header__title
  margin 0 0 16px
  color #fff
  font-size 48px
  font-weight 700