.main
  display flex
  flex-grow 1
  align-items center

  width 100%
  max-width 1200px
  padding 8px
  margin 32px auto
  box-sizing border-box

.main--home
  max-width 900px
  flex-wrap wrap
  align-items stretch

.main__row
  display flex
  margin-top 2rem

.main__img
  width 50%
  padding 8px