body {
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 400px;
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right,#7400B8,#5E60CE,#4EA8DE,#80FFDB);
}

.header__title {
  margin: 0 0 16px;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}

.header__button {
  border: 1px solid #fff;
  background: none;
  padding: 8px 16px;
  color: #fff;
  transition: background-color .4s, color .4s, box-shadow .4s;
}

.header__button:hover {
  background-color: #fff;
  color: #5E60CE;
  cursor: pointer;
  box-shadow: 10px 10px 0 #6830c380;
}

.main {
  border: 1px solid black;
  width: 100%;
  max-width: 900px;
  padding: 8px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.article {
  border: 1px solid red;
  margin: 8px;
  width: 100%;
  padding: 8px;
}

.article__title {
  margin: 8px;
  font-weight: 700;
}

.article__text {
  margin: 8px;
}

.article__link {
  display: inline-block;
  margin: 8px;
  color: black;
  text-decoration: none;
  right: 0;
}