body {
  font-family: 'Roboto', sans-serif;
  background-color: #131313;
  background-color: #e8ebf3;
  background-color: #fff;
}

.header {
  height: 400px;
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right,#7400B8,#5E60CE,#4EA8DE,#80FFDB);
}

.header__title {
  margin: 0 0 16px;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}

.header__button {
  border: 1px solid #fff;
  background: none;
  padding: 8px 16px;
  color: #fff;
  transition: background-color .4s, color .4s, box-shadow .4s;
}

.header__button:hover {
  background-color: #fff;
  color: #5E60CE;
  cursor: pointer;
  box-shadow: 10px 10px 0 #6830c380;
}

.main {
  /* border: 1px solid black; */
  width: 100%;
  max-width: 900px;
  padding: 8px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.article {
  /* background-color: #6566f8; */
  background-color: #fafbff;
  background-color: #fff;
  margin: 8px;
  width: 100%;
  padding: 8px 8px 24px;
  border-radius: 8px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  position: relative;

}

.article__title {
  /* color: #6930c3; */
  /* color: #1a1c1e; */
  color: #7400b8;
  margin: 8px;
  font-weight: 700;
  font-size: 24px;
}

.article__text {
  margin: 8px;
  /* color: #131313; */
  color: #555c65;
  font-size: 16px;
}

.article__link {
  /* color: #131313; */
  color: #6930c3;
  margin: 8px;
  font-size: 16px;
  text-decoration: none;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
}