.button
  border 1px solid #fff
  background none
  padding 8px 16px
  color #fff
  transition background-color .4s, color .4s, box-shadow .4s

.button:hover
  background-color #fff
  color #5E60CE
  cursor pointer
  box-shadow 10px 10px 0 rgba(105, 49, 196, 0.5)