.card
  background-color #f5f5f5
  margin 8px
  padding 8px
  border-radius 4px
  box-shadow 0px 0px 8px 2px rgba(0, 0, 0, .2)
  flex-basis 250px
  flex-grow 1
  display flex
  flex-direction column


.card__title
  color #7400b8
  margin 8px
  font-weight 700
  font-size 24px

.card__text
  margin 8px
  color #555c65
  font-size 16px
  height 100%

.card__footer
  text-align end

.card__link
  color #6930c3
  font-size 14px
  text-decoration none
  align-self flex-end
  bottom 0
  right 0
  display inline-flex
  align-items center
  padding 8px

.card__icon
  fill #6930c3
  width 20px