.menu
  position absolute
  top 8px

.menu__list
  display flex
  flex-direction row
  list-style none
  padding 0

.menu__link
  border 2px solid transparent
  border-radius 4px
  color #ececf1d7
  font-size: 16px
  font-weight 400
  padding 8px 16px
  text-decoration-line none
  transition all .3s ease-in

.menu__link:focus-visible,
.menu__link:hover
  background-color rgba(236, 236, 241, 0.133)
  color #fff
  opacity 1

.menu__link:focus-visible
  border-color #fff
  outline none

.menu__link--current
  background-color rgba(236, 236, 241, 0.133)
  color #fff
  margin 0 4px
  padding-top 100%