.title,
.subTitle
  color #7400b8
  font-weight 700
  padding 8px

.title
  font-size 2.5rem

.subTitle
  margin 0

.paragraph
  color #333
  font-size 1rem
  line-height 1.8rem
  margin 8px
  overflow-wrap break-word